* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw;
    
}

.container{
    display: flex;
    flex-direction: column;
    gap: 160px;
    backdrop-filter: blur(2px);
    padding: 21px;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: cover;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
    color: #111111;
    display: flex;
    flex-direction: column;
}

.box {
    height: 100%;
    width: 100%;
}
nav {
    max-width: 70vw;
    width: 100%;
    margin: 0 auto ;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px; 
    
}   

nav img {
    color: red;
    width: 130px;
    position: inherit;
    z-index: 10; 

}

nav button {
    position: inherit;
    z-index: 10;
}

.hero {
    font-family: Georgia, 'Times New Roman', Times, serif;
 
    height: calc(100% - 100px); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
    
}

.line {
    height: 5px;
    background-color: rgb(43, 41, 41);
    position: relative;
    z-index: 20;

}

.btn {
    padding: 3px 8px;
    color: white;
    background-color: rgba(248, 242, 242, 0.03);
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.red-btn {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(23, 23, 23, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: baseline;
    align-items: center;
}

@media screen and (max-width: 1100px) {

    .first {
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



}

.secimg {
    position: relative;

}

.secimg img {
    width: 535px;
    position: relative;
    z-index: 10;
}

.secimg video {
    position: absolute;
    top: 51px;
    right: 0;


}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {

    background-color: black;
    color: white;
    padding: 34px;

}

.faqbox:hover {
    background-color: #414141;
    color: white;

}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions {
    padding: 34px 0;
    font-size: 20px;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;

}


.footer a {
    font: size 14px;
    color: white;


}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding-top: 20px;

    
}

footer-item p{
    display: flex;
    flex-direction: row;
    
}
